@mixin mobile {
  @media (max-width: #{480px}) {
    @content;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

h1 {
  height: 36px;
  width: 206px;
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.page-wrap {
  background: black;
}

footer {
  .copyright {
    text-align: center;
  }
}

.content-container {
  max-width: 1200px;
  padding: 16px;

  @include mobile() {
    padding: 8px;
  }
}
